body{

background-image: url(d759b559ad669f9e199f1aaaa381a8ab.jpg);


    margin-top: 130px;
}






.container {

text-align: center;
margin-top: 23px;

}


table{


    margin: auto;
}

input{


    font-size: 34px;
    border: 5px solid #282f2e;
    border-radius: 21px;


}


button{

    
    background-color: #59cbe252;
    width: 102px;
    height: 58px;
    font-size: 38px;
    border-radius: 20px;

}



.calculator{


    display: inline-block;
    background-color: #fdcf71;
    border-radius: 36px;
    padding: 20px;
    border: 5px solid black;


}



h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace
}